%table
  %tr
    %th= t('activerecord.models.address.label')
    %th= t('activerecord.models.address.address')
    - if (addresses.first.is_local rescue false)
      %th= t('activerecord.models.address.balance')
  - addresses.each do |address|
    %tr{:class => cycle('odd', 'even')}
      %td= address.label
      %td= link_to address.address, address_path(address)
      - if address.is_local
        %td.amount= display_amount(address.received)