= @address.address

- if current_user
  - content_for :sidebar do
    .box
      %h4= t('.change_label')
      - form_for(@address) do |f|
        - if @account == current_user.email
          = f.hidden_field :is_local, {:value => "true"}
        - else
          = f.hidden_field :is_local, {:value => "false"}
        = f.hidden_field :address, {:value => @address.address}
        = f.label :label, t('activerecord.models.address.label')
        = f.text_field :label
        = f.submit t('sidebar.button.update')

= render :partial => "transactions/transactions", :object => @transactions
