%table
  %tr
    %th= t('activerecord.models.transaction.id')
    %th= t('activerecord.models.transaction.type')
    %th= t('activerecord.models.transaction.address')

    %th= t('activerecord.models.transaction.amount')
    %th= t('activerecord.models.transaction.confirmations')
    %th= t('activerecord.models.transaction.fee')
    %th= t('activerecord.models.transaction.time')

  - transactions.each do |transaction|
    %tr{:class => cycle('odd', 'even')}
      %td= display_txid transaction["txid"]
      %td= transaction["category"]
      %td= display_address Address.get(transaction["address"])  if transaction["address"]

      %td= transaction["amount"]
      %td= transaction["confirmations"]
      %td= transaction["fee"]
      %td= display_time transaction["time"]
