- form_tag(commit_transaction_path(:transaction => @transaction)) do
  Do you really want to send #{@transaction[:amount]} BTC to
  #{display_address @transaction[:address]}?
  = submit_tag "Commit Transaction", :id => "commit_transaction"
  = link_to "Cancel", account_path

= javascript_tag "$('#commit_transaction').focus()"