%h3= t('.title_transaction', :transaction => @transaction["txid"])

%table
  %tr
    %th= t('activerecord.models.transaction.from')
    %td= @from ? display_address(@from) : "-"

    %th= t('activerecord.models.transaction.to')
    %td= @to ? display_address(@to) : "-"
  %tr
    %th= t('activerecord.models.transaction.amount')
    %td= @transaction["amount"]

    %th= t('activerecord.models.transaction.fee')
    %td= @transaction["fee"]
  %tr
    %th= t('activerecord.models.transaction.time')
    %td= display_time @transaction["time"]

    %th= t('activerecord.models.transaction.confirmations')
    %td= @transaction["confirmations"]
