%h4 Send Bitcoins
- form_tag(transactions_path, :method => :post) do
  = label_tag :transaction_address, "Address"
  = autocomplete_field :transaction, :address, transaction_autocomplete_address_path,
  :value => (@address && !@address.is_local ? (@address.label && @address.label != "" ? @address.label : @address.address) : nil)
  %br/
  = label_tag :transaction_amount, "Amount"
  = text_field_tag "transaction[amount]"
  = submit_tag "Send"