%h4 Create Sending Address
- form_tag(addresses_path, :method => :post) do
  = hidden_field_tag "address[is_local]", "false"
  = label :address, :label, "Label"
  = text_field_tag "address[label]"
  = label :address, :address, "Address"
  = text_field_tag "address[address]"
  = submit_tag "Create"
