%h4= t('sidebar.title.new_local_address')
- form_tag(addresses_path, :method => :post) do
  = hidden_field_tag "address[is_local]", "true"
  = label :address, :label, t('activerecord.models.address.label')
  = text_field_tag "address[label]"
  = submit_tag t('sidebar.button.create')
