!!!
%html
  %head
    %title= t 'header.site_name'
    = javascript_include_tag "jquery.js", "jquery.ui.js", "rails.js", "autocomplete-rails.js"
    = stylesheet_link_tag "webtc", "autocomplete"

  %body
    - @info = BITCOIN.getinfo
    #header
      .title
        = link_to t('header.site_name'), root_path
        = @page_title ? " - #{@page_title}" : ""
      - if current_user
        .account
          %span.name= link_to current_user.email, edit_user_registration_path(current_user)
          %span.balance #{BITCOIN.getbalance(current_user.email)} BTC
          %br/
          %span.address (#{BITCOIN.getaccountaddress(current_user.email)})

        .user= link_to t('header.logout'), destroy_user_session_path
      - else
        .user
          = link_to t('header.sign_in'), new_user_session_path
          = link_to t('header.sign_up'), new_user_registration_path

      - if current_user
        %ul#navigation
          %li{:class => controller.controller_name == "accounts" ? 'active' : ''}
            = link_to t('navigation.account'), account_path
          %li{:class => controller.controller_name == "transactions" ? 'active' : ''}
            = link_to t('navigation.transactions'), transactions_path
          %li{:class => controller.controller_name == "addresses" ? 'active' : ''}
            = link_to t('navigation.addresses'), addresses_path

    - if notice
      #notice= notice
    - if alert
      #alert= alert
    #content
      = yield
      - if current_user
        #sidebar
          .box= render :partial => "layouts/new_local_address"
          .box= render :partial => "layouts/new_remote_address"
          .box= render :partial => "layouts/new_transaction"
          = yield :sidebar

    #footer
      .info
        %span.version #{t('footer.version', :version => @info["version"])} ||
        %span.blocks #{t('footer.blocks', :blocks => @info["blocks"])} ||
        %span.connections #{t('footer.connections', :connections => @info["connections"])} ||
        %span.balance #{t('footer.balance', :balance => @info["balance"])} ||
        - if @info["testnet"]
          %span.testnet
            %b TESTNET
            ||
        %span.donation= addr = WeBTC::Application.config.donation_address; link_to(addr, address_path(addr))
