= render :partial => "transactions/transactions", :object => @transactions

%br

.address_table
  %h4= t('addresses.index.title_local')
  = render :partial => 'addresses/addresses', :object => @local_addresses
.address_table
  %h4= t('addresses.index.title_remote')
  = render :partial => 'addresses/addresses', :object => @remote_addresses

.clear{:style => "clear: both"}
